.mcs-batchInstanceTable_playIcon {
  color: @info-color;
  font-size: 16px;
}

.mcs-batchInstanceTable_pauseIcon {
  color: @warning-color;
  font-size: 16px;
}

.mcs-batchExecutionTable_pending_status {
  color: @text-color-secondary;
}

.mcs-batchExecutionTable_running_status {
  color: @info-color;
}

.mcs-batchExecutionTable_succeeded_status {
  color: @success-color;
}

.mcs-batchExecutionTable_canceled_status {
  color: @error-color;
}

.mcs-batchExecutionTable_failed_status {
  color: @error-color;
}

.mcs-batchInstanceTable_lastExecutionsStatus_pending {
  color: @text-color-secondary;
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.mcs-batchInstanceTable_lastExecutionsStatus_running {
  color: @info-color;
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.mcs-batchInstanceTable_lastExecutionsStatus_succeeded {
  color: @success-color;
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.mcs-batchInstanceTable_lastExecutionsStatus_canceled {
  color: @error-color;
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.mcs-batchInstanceTable_lastExecutionsStatus_failed {
  color: @error-color;
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.mcs-batchInstanceTable_row {
  cursor: pointer;
}
.mcs-batchInstanceForm_drawer {
  .ant-drawer-header {
    background-color: @main-color;
  }
}

.mcs-batchInstanceForm_saveButton {
  background-color: @success-color !important;
  border-color: @success-color !important;
}

.mcs-integrationBatchInstanceForm_drawer {
  .ant-drawer-body {
    padding: 0;
    background-color: #f1f1f1;
    position: relative;
    .edit-layout {
      height: 100%;
    }
  }
  .mcs-content-container {
    text-align: center;
  }
}
