@import '../../../style/theme.less';

@loading-chart-prefix-cls: ~'@{mcs-prefix}-loading-chart';

.@{loading-chart-prefix-cls} {
  &-no-data  {
    margin: 100px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #c2c2c2;
  }
}
