@import '../../../style/theme.less';

@counter-prefix-cls: ~'@{mcs-prefix}-counter';

.@{counter-prefix-cls} {
  text-align: center;
  .@{mcs-prefix}-icon {
    font-size: 5em;
  }
  .title {
    font-size: 1.5em;
  }
  .number {
    font-size: 2.6em;
    font-weight: bold;
  }
}

