@import './../../style/theme.less';

@collection-view-prefix-cls: ~'@{mcs-prefix}-collection-view';

.@{collection-view-prefix-cls} {
	height: 100%;
	margin-bottom: -1.4em;
	display: block;
	position: relative;
	margin-left: 0;
    margin-right: 0;

	li.ant-pagination-item {
		background-color: transparent;
	}
	li.ant-pagination-prev {
		background-color: transparent;
	}
	li.ant-pagination-next {
		background-color: transparent;
	}
	&-text-right {
		float: right;
	}

	&-loading {
		height: 350px;
	
		&-content {
			display: flex;
			align-items: center;
			justify-content: center;
			height: inherit;
		}
	}
}
