.title-container {
  .title {
    font-size: 1.3em;
    font-weight: bold;
    font-variant: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  .subtitle {
    font-size: 1em;
    color: #7e7e7e;
    font-variant: normal;
  }
}

.section-header {
  margin-bottom: 3em;
  .section-header-buttons {
    display: flex;
    justify-content: flex-end;
  }
}
