.mcs-fullScreen {
  height: 100%;
}

.mcs-contentContainer {
  padding: 0 40px 60px;
  height: inherit;
  overflow-y: scroll;

  &.flex {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  &.flex-basic {
    display: flex;
    flex: auto;
  }

}