.mcs-tableChart_backButton {
  float: right;
  width: 44px;
  height: 30px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: @text-color;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
