.mcs-batchInstanceTable_playIcon {
  color: @info-color;
  font-size: 16px;
}

.mcs-batchInstanceTable_pauseIcon {
  color: @warning-color;
  font-size: 16px;
}

.mcs-batchExecutionTable_pending_status {
  color: @text-color-secondary;
}

.mcs-batchExecutionTable_running_status {
  color: @info-color;
}

.mcs-batchExecutionTable_succeeded_status {
  color: @success-color;
}

.mcs-batchExecutionTable_canceled_status {
  color: @error-color;
}

.mcs-batchExecutionTable_failed_status {
  color: @error-color;
}
