.mcs-segmentSelector_dropdown {
  width: 330px;

  input {
    height: 40px;
  }
}

.mcs-segmentSelector_type {
  font-size: 16px;
  float: left;
  margin-right: 15px;
}

.mcs-segmentSelector_table {
  .ant-table-thead > tr > th::before {
    display: none;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    font-size: 13px;
    border-bottom: none;
  }
  .ant-table-tbody > tr > td {
    padding: 8px 16px;
    cursor: pointer;
  }
}

.mcs-segmentSelector_nameColumn,
.mcs-segmentSelector_typeColumn {
  padding: 8px 0;
}

.mcs-segmentSelector_segmentName {
  display: block;
  width: 380px;
  margin-left: -16px;
}

.mcs-segmentSelector_userPoint {
  display: block;
  width: 73px;
  text-align: right;
  color: #919191;
}

.mcs-segmentSelector_table {
  margin-top: 40px;
}

.mcs-segmentSelector_dropdown {
  margin-top: 30px;
}

.drawer-wrapper .drawer-container .mcs-segmentSelector_drawer.drawer {
  overflow: hidden;
  background-color: white;
  background: white;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}
