.mcs-menu-sub-list {
  overflow: hidden;
  cursor: pointer;

  .menu-item {
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    border: @border-width-base @border-style-base @border-color-base;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-flow: row wrap;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: #ebeff2;
    }

    &:focus {
      outline: none;
    }

    .selector {
      padding: 0 20px 0 0;
      flex: 0;
    }
    .image-title {
      margin: 0 10px 0 0;
      width: 37px;
      height: 37px;
      float: left;
    }
    .content {
      padding: 20px 0 20px 50px;
      flex: 1;
      -webkit-flex-grmenu-sublistow: 1;
      .title {
        font-size: 1.1em;
        font-weight: bold;
        letter-spacing: 0.4px;
      }
      .subtitle {
        font-size: 1em;
        letter-spacing: 0.4px;
        color: @text-color-secondary;
      }
    }
    .content.alone {
      padding: 29px 0 29px 50px;
    }
    .content.alone.small {
      padding: 12px 0 12px 50px;
    }
    .clearfix {
      width: 100%;
    }
  }
}
