@import './../../style/theme.less';

@mcs-header-prefix-cls: ~'@{mcs-prefix}-header';

.@{mcs-header-prefix-cls} {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding-left: 24px;
  padding-right: 40px;
  background-color: @info-color;

  &_wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;

    .@{mcs-header-prefix-cls}_leftComponent {
      display: flex;
      align-items: center;

      .ant-dropdown-trigger {
        display: flex;
      }
    }
  }

  &_actions {
    display: flex;

    &_appLauncher,
    &_settings {
      padding-right: 15px;
    }

    &_account,
    &_appLauncher,
    &_settings {
      display: flex;
      align-items: center;

      .ant-dropdown-trigger {
        display: flex;
      }
    }
  }

  &-menu-icon,
  &_menuIcon {
    margin: 0;
    color: white;
    font-size: 20px;
    &:hover {
      color: @normal-color;
    }
  }

  &_actions_appLauncher {
    .@{mcs-header-prefix-cls}_menuIcon,
    .@{mcs-header-prefix-cls}_menu-icon {
      font-size: 23px;
    }
  }

  .datamart-switcher {
    margin-left: 40px;
  }

  &_menu_link {
    display: flex;
  }

  .mcs-icon&_menuIcon {
    margin-right: 0;
  }
}
