@import './../../style/theme.less';

@loading-prefix-cls: ~'@{mcs-prefix}-loading';

.@{loading-prefix-cls} {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  &-full-screen {
    flex: 1;
    width: 100%;
  }
}
