.p-r-20 {
  padding-right: 20px;
}

.mcs-metrics-column {
  .title {
    font-size: 0.9em;
    text-align: left;
    color: fade(@heading-color, 40%);
  }
  .metric {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    color: fade(@heading-color, 85%);
    line-height: 1.25;
  }
}

.mcs-table-cell-loading {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    width: 100%;
    max-width: 100px;
    height: 8px;
    border-radius: 10px;
    background: linear-gradient(149deg, #dee4e8, #eceaea);
    background-size: 400% 400%;
    -webkit-animation: loadingAnimation 1s ease infinite;
    -moz-animation: loadingAnimation 1s ease infinite;
    -o-animation: loadingAnimation 1s ease infinite;
    animation: loadingAnimation 1s ease infinite;
  }