.mcs-fullScreen {
  height: 100%;
}

.mcs-contentContainer {
  padding: 0 40px 60px;
  height: inherit;
  overflow-y: scroll;

  &.flex {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  &.flex-basic {
    display: flex;
    flex: auto;
  }
}

.mcs-react-app {
  height: 100%;
}
.mcs-react-app > div {
  height: 100%;
}
.mcs-fullscreen {
  height: 100%;
}

.ant-spin-dot i:first-child {
  background-color: @info-color !important;
  opacity: 1 !important;
}

.ant-spin-dot i:nth-child(2) {
  background-color: @warning-color !important;
  opacity: 1 !important;
}

.ant-spin-dot i:nth-child(3) {
  background-color: @success-color !important;
  opacity: 1 !important;
}

.ant-spin-dot i:first-child {
  background-color: @error-color !important;
  opacity: 1 !important;
}

.ant-layout-content {
  background-color: @layout-content-background;
}

.mcs-content-container {
  padding: 20px 40px 60px;
  height: inherit;
  overflow-y: scroll;
  &.flex {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  &.flex-basic {
    display: flex;
    flex: auto;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

// Common action bar style

.mcs-actionbar_innerElementsPanel {
  display: inline;
  .mcs-primary {
    height: 38px;
    .mcs-icon {
      padding-right: 5px;
      vertical-align: middle;
    }
  }
  .mcs-actionBar_filters {
    float: left;
    .mcs-actionBar_filterInput {
      width: 160px;
      margin-left: 10px;
      .mcs-actionBar_iconFilter {
        float: right;
      }
    }
    .mcs-actionBar-batchInstanceFilterInput {
      width: 400px;
    }
  }
}
