.mcs-dashboardsTable_TitleColumn {
  font-family: LLCircularWeb-Book;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

.mcs-dashboardsTable_OrgColumn {
  font-family: LLCircularWeb-Book;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.mcs-dashboardsTable_ScopeColumn {
  flex-wrap: wrap;
}

.mcs-dashboardsTable_Container table {
  padding-top: 13px;
  margin-top: 38px;
}

.mcs-dashboardsFilters {
  float: left;
}

.mcs-dashboardsFilters_scope {
  width: 124px;
}

.mcs-dashboardsFilters_organisation {
  width: 160px;
  margin-left: 10px;
}

.ant-select.mcs-dashboardsFilters_input .ant-select-selector {
  height: 32px;
}

.ant-select.mcs-dashboardsFilters_input .ant-select-selector .ant-select-selection-search-input {
  height: 32px;
  line-height: 32px;
}
.ant-select-single.mcs-dashboardsFilters_input
  .ant-select-selector
  .ant-select-selection-placeholder {
  line-height: 32px;
}
.ant-select-single.mcs-dashboardsFilters_input .ant-select-selector .ant-select-selection-item {
  line-height: 32px;
}

.mcs-table-body {
  padding: 0px 10px 20px 0px;
}

.mcs-dashboardsTable_tag {
  margin-top: 5px;

  &--blue {
    background-color: #cce8ff;
    color: #003056;
    border-color: #7db9e8;
  }

  &--green {
    background-color: #d3ebdd;
    color: #00ab67;
    border-color: #64d19b;
  }

  &--purple {
    background-color: #f5f0ff;
    color: #513fab;
    border-color: #beaeeb;
  }
}

.mcs-dashboards_filterIcon {
  width: 16px;
  height: 13px;
  background-color: var(--text-text-lightest-disabled);
}

.mcs-dashboardsFilters_placeholder {
  margin-right: 50px;
}
