.mcs-dashboardsTable_TitleColumn {
  font-family: LLCircularWeb-Book;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

.mcs-dashboardsTable_OrgColumn {
  font-family: LLCircularWeb-Book;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.mcs-dashboardsTable_ScopeColumn {
  flex-wrap: wrap;
}

.mcs-dashboardsTable_Container table {
  padding-top: 13px;
  margin-top: 38px;
}

.mcs-table-body {
  padding: 0px 10px 20px 0px;
}

.mcs-dashboardsTable_tag {
  margin-top: 5px;

  &--blue {
    background-color: #cce8ff;
    color: #003056;
    border-color: #7db9e8;
  }

  &--green {
    background-color: #d3ebdd;
    color: #00ab67;
    border-color: #64d19b;
  }

  &--purple {
    background-color: #f5f0ff;
    color: #513fab;
    border-color: #beaeeb;
  }
}

.mcs-dashboardEditor_selector {
  font-family: 'LLCircularWeb-Book';
  font-size: 12px;
  height: auto;
  width: 320px;
  background: rgba(225, 225, 225, 0.5);
  border-radius: 3px;
  color: rgb(0, 48, 86);
  border: none;
  margin-bottom: 10px;
}

.mcs-dashboardEditor_checkbox {
  margin-bottom: 5px;
}

.mcs-dashboardEditor_homeCheckbox {
  .mcs-dashboardEditor_checkbox;
  margin-top: 30px;
}

.mcs-dashboardEditor_aceEditor {
  min-width: 100px;
  font-family: 'LLCircularWeb-Book';
  font-size: 14px;
  min-height: 100px;
  margin-top: 25px;

  .ant-form-item-explain-error div::first-letter {
    text-transform: uppercase;
  }
}

.mcs-dashboardEditor {
  display: flex;
  flex-direction: column;

  .ant-checkbox-wrapper {
    margin-left: 0px;
  }
  .ant-form-item-control-input {
    min-height: 12px;
  }
}

.mcs-dashboardEditor_index {
  font-family: 'LLCircularWeb-Book';
  font-size: 16px;
  font-weight: 500;
  padding-top: 2px;
  margin-right: 10px;
}

.mcs-dashboardEditor_column_input {
  width: 226px;
}

.mcs-dashboardEditor_row {
  width: 100%;
  margin-top: 15px;

  .ant-form-item {
    margin-bottom: 0px;
  }
}

.mcs-dashboardEditor_row_column {
  width: 50%;
}

.mcs-dashboardEditorActionBarBreadcrumb {
  font-family: 'LLCircularWeb-Book';
  font-size: 12px;
}

.mcs-dashboardEditorActionBarCancelButton {
  height: 32px;
  width: 69px;
  background: white;
  border-color: #e0e1e1;
  color: #000000;
}

.mcs-dashboardEditorActionBarSaveButton {
  width: 96px;
  .mcs-icon {
    padding-right: 10px;
    vertical-align: middle;
  }
}

.mcs-dashboardEditor_row_editedBy {
  font-family: 'LLCircularWeb-Book';
  font-size: 10px;
  text-align: right;
}
