.mcs-app-menu-main-layout {
  .mcs-logo-placeholder {
    display: flex;
    min-height: 60px !important;
    align-items: center;
    justify-content: center;
    .mcs-logo {
      display: flex;
      align-items: center;
      align-content: center;
      margin: 10px;
      padding: 20px;
      img {
        max-height: 50px;
        max-width: 140px;
      }
    }
  }

  .mcs-app_developerConsoleIcon {
    color: #7057d1;
  }

  .mcs-app_navigatorIcon {
    color: #00a1df;
  }

  .mcs-app_documentationIcon {
    color: #00ab67;
  }
}

.mcs-topBar-envAlert {
  display: flex;
  margin: auto;
  margin-right: 0;
  border-color: red;
}
