.mcs-app_dropdown_menu {
  box-shadow: @box-shadow-base!important;
  min-width: 260px;
  padding-bottom: 5px;
  border-radius: 6px;

  .mcs-logo-placeholder{
    min-height: 60px!important;
  }

  .mcs-app_icon{
    font-size: large;
    vertical-align: text-bottom!important;
    margin-right: 5px;
  }
  .mcs-app_icon_navigator{
    color:#00a1df;
  }
  .mcs-app_icon_developer_console{
    color:#7057d1;
  }
  .ant-menu-item{
    margin-bottom: 0px!important;
    margin-top: 0px!important;
  }
}