.mcs_appMenu.ant-menu {
  box-shadow: @box-shadow-base;
  min-width: 260px;
  padding-bottom: 5px;
  border-radius: 6px;

  .mcs-app_icon {
    font-size: large;
    vertical-align: middle;
    margin-right: 5px;
  }

  .ant-menu-item {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .mcs_appMenu_item--withDivider:first-of-type {
    border-top: 1px solid @border-color-split;
    border-bottom: 1px solid @border-color-split;
  }
}
