.mcs-legend-chart {
  overflow: visible;
  .mcs-legend-chart_item {
    float: left;
    .mcs-legend-chart_item_line {
      margin-left: 10px;
      width: 30px;
      height: 4px;
      border-radius: 5px;
      margin-top: 18px;
      float: left;
    }
    .mcs-legend-chart_item_name {
      float: right;
      line-height: 40px;
      margin-left: 5px;
    }
  }
}
